<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="mx-3">
    <h1>Hi</h1>
    <p>First, <a href="/settings">configure tab settings</a>.</p>
    <p>Use the template on <a href="https://github.com/SatoshiI7/TabbycatImporter">GitHub</a>.</p>
  </div>
  <%- include("partials/footer.ejs") %>
</body>

</html>