<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
  <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>
  <script src="upload_judges.js"></script>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="mx-3">

    <ul class="alert alert-primary d-none" role="alert" style="list-style: none;" id="previous-results">
    </ul>


    <% if (canSubmit) { %>
    <form>
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload</label>
        <input class="form-control" type="file" id="formFile">
        <div id="formFileHelpBlock" class="form-text">
          Supports the following keywords: name, email, institution, independent, adj_core
        </div>
      </div>
      <button type="button" class="btn btn-primary" id="submit">Submit</button>
    </form>
    <% } else { %>
    <div class="alert alert-danger" role="alert">
      You haven't configured the importer. Click <a href="settings">here</a>.
    </div>
    <% } %>
    <div id="worksheet-area">

    </div>

  </div>

  <%- include("partials/footer.ejs") %>
</body>

</html>